body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

.tituloMenor {
    font-size: 20px;
    margin: 30px;
}

#titulo1 {
    line-height: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.botao {
    padding: 5px;
    border-radius: 7px;
    background-color: navy;
}