
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}





body {
    text-align: center;
    background: linear-gradient(to bottom, #3c9396, rgb(212, 212, 212));
    min-height: 100vh;
}


@font-face {
    font-family: 'White';
    src: url('fonts/WhiteOnBlack.ttf') format('truetype');
}

