body {
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100px;
}

.cabecalho__logo {
    padding: 59PX;
    width: 80px;
    margin-left: 40px;
}

.cabecalho__menu > a {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1,86em 1,42em;
    text-decoration: none;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
      

#logo {
    width: 110px;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/pexels-eduardo-krajan-424982200-15476361.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
    
}

.banner-texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue; 
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.322);
    padding : 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-texto:hover {
    transform: translateY(-10px);
    box-shadow:0 20px 30px azure (0, 0, 0, 0.2);
}

.botão-saiba-mais {
    background-color: rgb(1, 38, 247);
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    padding: 1px;
    width: 80px;
    margin-top: 5px;
    align-self: center;
}

.botao-saiba-mais:hover {
    transform: translateY(-2px);
    background-color: rgb(10, 169, 243);
    box-shadow:0 20px 30px 0 rgb(107, 107, 107)(0, 0, 0, 0.3);
}







.container-pai {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.container-filho {
    background-color: rgb(9, 156, 241);
    width: 300px;
    height: 380px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.container-filho:hover {
    transform: translateY(-5px);
    background-color: rgb(7, 221, 236);
    box-shadow:0 20px 30px 0 darkgrey (0, 0, 0, 0.2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagem-COMIDAS {
    width: 50%;
    height: 40%;
    border-radius: 50%;
}

h2 {
    font-size: 18px;
}

p {
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

.banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/pexels-goumbik-349609.jpg);
    text-align: center;
    width: 1300px;
    color: black;
    height: 800px;
    
}

.form-container2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    max-width: 400px;
    box-shadow:0 0 10px rgba(100, 100, 100, 0.774);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-top: 10px;
    text-align: left;
}

.input, textarea {
    width: 90px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(104, 104, 105);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(65, 65, 65);
}

.COMIDAS {
    width: auto;
    height: 300px;
}

.Comidas-de-carnes {
    width: auto;
    height: 300px;
}

.imagem-de-Hamburguer {
    width: auto;
    height: 300px;
}

#pai {
    background-color: black;
    display: flex;
    flex-direction: row; /* row, column, row-reverse, column reverse */
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 5px;
    text-align: center;
}

.filho {
    background-color: rgb(3, 78, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    width: 220px;
    text-align: center;
    margin: 5px;
    
}

h1 {
    display: block;
    background-color: cyan;
    color: black;
    width: 1340px;
    height: 50px;
    text-align: center;
    border-radius: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#caixa1 {
    
    align-self: stretch;
    border-radius: 13px;
    
}

#caixa2 {
    
    align-self: stretch;
    border-radius: 13px;

}

#caixa3 {
     
    align-self: stretch;
    border-radius: 13px;

}

.comidas {
    width: auto;
    height: 45%;
}

.imagem-de-churrasco {
    width: auto;
    height: 45%; 
}

.Comidas2 {
    width: auto;
    height: 45%;
}

#logo-footer {
    width: 100px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 1400px;
    background-color: rgb(43, 43, 43);
}



