#ID > p {
    display: block;
    background-color: violet;
    width: 300px;
    height: 200px;;
    text-align: center;
}

.CLASS > p {
    display: block;
    background-color: cyan;
    width: 250px;
    height: 200px;
    text-align: center;
}

.CLASS > p {
    display: block;
    background-color: cyan;
    width: 250px;
    height: 200px;
    text-align: center;
}