body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rosybrown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

canvas {
    border: 1px solid #000;
}