body {
    height: 100vh;
    background-color: #3f3537;
}

.moon {
    margin-left: 800px;
    width: 100px;
    height: 100px;
    background-color: #fff8be;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255, 255, 213);
}

.vampire {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2d9b3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}


.hair {
   width: 100%;
   height: 50%;
   background-color: black;
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-top: 10px;
}

.eyes {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.eye {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    width: 8px;
    height: 8px;
    background-color: darkred;
    border-radius: 50%;
}

.mouth {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.fang {
    width: 10px;
    height: 20px;
    background-color: red;
    border-radius: 0 0 5px 5px;
}

.fang2 {
    width: 10px;
    height: 10px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 120px;
    height: 180px;
    border-radius: 0 0 60px 60px;
}

.cloak {
    width: 180px;
    height: 80px;
    background-color: red;
    border-radius: 0 0 ;
}



